*{
    margin: 0;
    padding: 0;
}

:root{
    --color-success: #16A3B5;
    --color-submit: #00ba8a;
    --color-danger: #d32d2d;
    --color-light: #a7a7a7;
    --color-warning: yellow;
}

.container{
    margin: 0 30px 0 30px;
}

.btn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.delete{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.btn-delete{
    background: var(--color-danger);
    height: 32px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: center;
    background: var(--color-success);
    height: 32px;
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    
}


.button:hover{
    background: var(--color-submit);
    color: white;
}

article{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 10px;
    border: 1px solid var(--color-light);
}

.name{
    display: flex;
    justify-content: flex-start;
    padding: 8px 8px 8px 18px;
}

.atribut{
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    gap: 15px;
}


.edit{
   
    color: var(--color-warning)
}

.del{
    cursor: pointer;
    color: var(--color-danger);
}
